.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 0.8rem;
}

.delete-btn:hover {
    background-color: #cc0000;
}

/* Zorgt dat de winst en de knop netjes rechts staan */
.rechts-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
